[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Library for parsing and writing Variable Message Format
[access "refs/*"]
	owner = group user/Deniz CANTÜRK (denizcanturk)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Deniz CANTÜRK (denizcanturk)
	label-Verified = -1..+1 group user/Deniz CANTÜRK (denizcanturk)
	push = group user/Deniz CANTÜRK (denizcanturk)
	read = group user/Deniz CANTÜRK (denizcanturk)
	rebase = group user/Deniz CANTÜRK (denizcanturk)
	removeReviewer = group user/Deniz CANTÜRK (denizcanturk)
	submit = group user/Deniz CANTÜRK (denizcanturk)
[access "refs/heads/*"]
	create = group user/Deniz CANTÜRK (denizcanturk)
	push = +force group user/Deniz CANTÜRK (denizcanturk)
	pushMerge = group user/Deniz CANTÜRK (denizcanturk)
	read = group user/Deniz CANTÜRK (denizcanturk)
[access "refs/tags/*"]
	push = group user/Deniz CANTÜRK (denizcanturk)
	push = +force group user/Deniz CANTÜRK (denizcanturk)
